/* css variables,custom properties, 
sculp them all into root elements, 
so tat  it can be used any other elements  */
:root {
  --container-bg-color: rgb(51, 51, 51);
  --left-bg-color: #e6aa0780;
  --left-button-hover-color: rgba(146, 110, 11, 0.3);
  --right-bg-color: rgba(110, 108, 108, 0.5);
  --right-button-hover-color: rgba(75, 73, 73, 0.3);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  color: #5c5b5b;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--container-bg-color);
}

h1 {
  font-size: 3rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  white-space: nowrap;
}
h2 {
  font-size: 2rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.button {
  display: block;
  position: absolute;
  left: 50%;
  top: 55%;
  height: 2.5rem;
  padding-top: 1.3rem;
  width: 15rem;
  text-align: center;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
}
.split.left .button:hover {
  background-color: var(--left-button-hover-color);
  border-color: var(--left-button-hover-color);
}
.split.right .button:hover {
  background-color: var(--right-button-hover-color);
  border-color: var(--right-button-hover-color);
}
.split {
  position: absolute;
  width: 50%;
  height: 80%;
  overflow: hidden;
}
.split.left {
  left: 0;
  background: url("./img/art-background-blank-1020317.jpg") center center
    no-repeat;
  background-size: cover;
}
.split.left:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--left-bg-color);
}
.split.right {
  right: 0;
  background: url("./img/baby-child-hand-1776137.jpg") center center no-repeat;
  background-size: cover;
}
.split.right:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--right-bg-color);
}
.split.left,
.split.right,
.split.left:before,
.split.right:before {
  transition: var(--speed) all ease-in-out;
}
.hover-left .left {
  width: var(--hover-width);
}
.hover-left .right {
  width: var(--other-width);
}
.hover-left .right:before {
  z-index: 2;
}
.hover-right .right {
  width: var(--hover-width);
}
.hover-right .left {
  width: var(--other-width);
}
.hover-right .left:before {
  z-index: 2;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-49%, -10%);
  transition: linear;
}

ul li {
  list-style: none;
  margin: 0 20px;
}

ul li a {
  position: relative;
  display: block;
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  background: #181717;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  font-size: 25px;
  color: #666;
  transition: 0.5s;
}

ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 3s;
  transform: scale(1.5);
  z-index: -1;
}

ul li a:hover:before {
  transform: scale(1.5);
  transition: 3s;
  /* box-shadow: 15px #5c5b5b;
  filter: blur(5px); */
}
ul li:nth-child(1) a {
  color: #4167b2;
  border: 0.7px solid;
  transition: 1.5s;
}
ul li:nth-child(2) a {
  color: #009f01;
  border: 0.7px solid;
  transition: 1.5s;
}
ul li:nth-child(3) a {
  color: #74453d;
  border: 0.7px solid;
  transition: 1.5s;
}
ul li:nth-child(4) a {
  color: #fe0000;
  border: 0.7px solid;
  transition: 1.5s;
}
ul li:nth-child(5) a {
  color: #1da1f3;
  border: 0.7px solid;
  transition: 1.5s;
}
ul li:nth-child(1) a:hover {
  color: #4167b2;
  box-shadow: 5px 5px #4e7ad1, -5px -5px #4e7ad1;
  text-shadow: 0 0 15px #5c8beb;
  transform: rotate(-360deg);
  transition: 1s;
  border-radius: 50%;
  border: 1px solid;
}
ul li:nth-child(2) a:hover {
  color: #009f01;
  box-shadow: 5px 5px #15f515, -5px -5px #15f515;
  text-shadow: 0 0 15px #15f515;
  transform: rotate(-360deg);
  transition: 1s;
  border-radius: 50%;
  border: 0.5px solid;
}

ul li:nth-child(3) a:hover {
  color: #74453d;
  box-shadow: 5px 5px #b1876e, -5px -5px #b1876e;
  text-shadow: 0 0 15px #b1876e;
  transform: rotate(-360deg);
  transition: 1s;
  border-radius: 50%;
  border: 0.5px solid;
}
ul li:nth-child(4) a:hover {
  color: #fe0000;
  box-shadow: 5px 5px #fa6565, -5px -5px #fa6565;
  text-shadow: 0 0 15px #fa6565;
  transform: rotate(-360deg);
  transition: 1s;
  border-radius: 50%;
  border: 0.5px solid;
}
ul li:nth-child(5) a:hover {
  color: #1da1f3;
  box-shadow: 5px 5px #1da1f3, -5px -5px #1da1f3;
  text-shadow: 0 0 15px #1da1f3;
  transform: rotate(-360deg);
  transition: 1s;
  border-radius: 50%;
  border: 0.5px solid;
}
